{% extends 'studentinfo/base.html' %}

{% block content %}
<!-- This html class is used to populate the course details portion of the website -->
        <div class="container-fluid mt-5 text-center">
            <h2>Course Data</h2>
            <table class="table table-bordered">
                <thead class="table-dark">
                    <th>Course ID</th>
                    <th>Course Title</th>
                    <th>Course Name</th>
                    <th>Students Enrolled</th>
                    <th>Course Department</th>
                    <th>Instructor Name</th>
                </thead>
                <tbody>
                    {% for row in coursedata %}
                    <tr>
                        <td>{{ row.courseid }}</td>
                        <td>{{ row.coursetitle }}</td>
                        <td>{{ row.coursename }}</td>
                        <td>{{ row.studentsenrolled }}</td>
                        <td>{{ row.coursedepartment }}</td>
                        <td>{{ row.instructorname }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- Pagination for the course data table -->
            <div class="pagination justify-content-center"> 
                <span class="step-links">
                    {% if coursedata.has_previous %}
                    <a href="?page=1">First</a>
                    <a href="?page={{ coursedata.previous_page_number }}">Previous</a>
                    {% endif %}

                    Page {{ coursedata.number }} of {{ coursedata.paginator.num_pages }}

                    {% if coursedata.has_next %}
                    <a href="?page={{ coursedata.next_page_number }}">Next</a>
                    <a href="?page={{ coursedata.paginator.num_pages }}">Last</a>
                    {% endif %}
                    
                </span>
            </div>

        </div>
{% endblock %}